* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#screen {
    position: relative;
}

#gameover_text {
    color: red;
}

#gameover_screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    left: 1px;
    top: 1px;
}

#viewport {
    border: 1px solid #333;
}

.d-none {
    display: none !important;
}